#Cmake stuff
CmakeFiles/
CmakeCache.txt
cmake_install.cmake

#CLion files
.idea/
cmake-build-debug/

#CodeBLocks stuff
*.layout
*.depend
*.cbp
bin/
obj/

#Makefile stuff
Makefile
*.o
LangstonsAnt/

#.dll stuff
*.dll

#Builds
*.7z

#Profiler
*.out

#exe
*.exe

#unix
langstons_ant

#Screenshots
Screenshots/
